main {
    min-height: calc(100vh - 153px);
}
#main h2.users {
    color: #868688;
    margin: 20px 0;
}

#sort-holder {
    margin-bottom: 30px;
}

#collection {
    margin-bottom: 80px;
}

#pagination {
    margin: 0 auto;
    display: table;
}

.loading-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 104px);
}

.loading-holder img {
    align-self: center;
}

li.transparent:hover {
    border: 1px solid #999999;
    border-bottom: 1px solid #999999 !important;
}

.transparent {
    width: 100%;
    height: 100%;
    z-index: 3;
    cursor: pointer;
}
.transparent .delete-button {
    width: 35px;
    height: 35px;
}

.transparent .delete-button i {
    line-height: 35px;
}

.modal-holder {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,0,0,0.5);
    z-index: 3333333;
    height: 100%;
  }

#modal {
    display: block;
    opacity: 1;
    top: 20%;
    transform: scaleX(1) scaleY(1);
    z-index: 333333333;
    overflow-y: initial;
  }

#main-footer {
    height: 40px;
    padding: 0;
}

#main-footer small {
    line-height: 40px;
}

@media only screen and (min-width: 401px) {
    #mobile-demo {
      width: 300px;
    }
  }
@media only screen and (max-width: 400px) {
    #mobile-demo {
      width: 230px;
    }
  }
